.title{
 color: rgb(249,205,27);
 margin: 0 auto;
 text-align: center;
 font-family: "Indie Flower", cursive;
 font-style: normal;
 font-size: 3em;
}

@font-face {
 font-family: 'Indie Flower';
 font-style: normal;
 font-weight: 400;
 src: local('Indie Flower'),
      local('IndieFlower'),
      url(./fonts/Indie-Flower.woff2) 
      format('woff2');
}

