html, body { 
 height: 100%;
 min-height: 100%;
 width: 100%;
 margin: 0;
 padding: 0;
 text-align: center;
}

body {
 background-color: rbg(241,241,241);
 display: flex;
 flex-flow: column nowrap
}


header { 
 color: rgb(249,205,27);
 flex: 0 1 auto;
 font-family: "Indie Flower", cursive;
 font-style: normal;
 font-size: 3em;
}

#fishtank {
 flex: 1 1 auto;
 text-align: center;
}

canvas {
 border-style: solid;
 border-width: 3px; /* must be in px for javascript in entry.js */
 border-radius: 50px;
 background-color: LightBlue;
}

footer {
 flex: 0 1 auto;    
 width: 100%;
}

@font-face {
 font-family: 'Indie Flower';
 font-style: normal;
 font-weight: 400;
 src: local('Indie Flower'),
      local('IndieFlower'),
      url(./fonts/Indie-Flower.woff2) 
      format('woff2');
}

